.modal{
    position: fixed;
    top:20%;
    left:30%;
    width:90%;
    background-color:rgb(237, 233, 230);
    padding:1rem;
    border-radius: 0.3rem;
    box-shadow: 1px 2px 2px 1px rgb(64, 61, 61);
    display: none;
}
#headdrop{
    position: fixed;
    top:0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0,0.7);
    display: none;
}
@media(min-width:48rem){
    .modal{
       left: calc(50%-20rem);
       width:40rem;
    }
}
